{% extends "base.html" %}
{% block content %}
<hr class="major" />
<div class="container">
<br>
	<div class="row">
		<section class="6u 12u$(medium)">
			{% for data in datas %}
    			<p>  1500번개의 리뷰중 <strong>{{ data.id }}</strong>번째 순서입니다</p>
                <p> Date : {{ data.date }}</p>
                <p> Nickname : {{ data.nickname  }}</P>
                <p> Rating : {{ data.rating }}</p>
                <p> Comment :<br>
                <strong>{{ data.comment|linebreaksbr}}</strong></p>
            {% endfor %}
		</section>
		<section class="3u 6u(medium) 12u$(small)">
            <p><strong> 카테고리 </strong></p>
                <form method="POST">
                 {% csrf_token %}
					<input type="checkbox" id="1" name="choice" value="1">
					<label for="1">앱기능의 장점(App Feature Strength)</label>
					<input type="checkbox" id="2" name="choice" value="2">
					<label for="2">앱기능의 단점(App Feature Strength)</label>
					<input type="checkbox" id="3" name="choice" value="3">
					<label for="3">앱기능 요청(App User Request)</label>
					<input type="checkbox" id="4" name="choice" value="4">
					<label for="4">앱 버그 보고(App Bug Report)</label>
					<input type="checkbox" id="5" name="choice" value="5">
					<label for="5">불만(General Complaint)</label>
					<input type="checkbox" id="6" name="choice" value="6">
					<label for="6">칭찬(Praise)</label>
                 <br><br>
                 <table>
                     <tr>
                         <td><button type="button" class="btn btn-primary" value="뒤로가기" onClick="history.go(-1)">뒤로가기</button></td>
                         <td><button type="reset" class="btn btn-primary" value="다시하기">다시하기</button></td>
                         <td><button type="submit" class="btn btn-primary" value="제출하기">제출하기</button></td>   
                     </tr> 
                 </table>  
             </form>	
         </section>
	</div>
         <pre><strong>※ 만약 해당되는 카테고리가 없다면, 그냥 넘어가주세요.</strong></pre>
</div>
<hr class="major" />

         
{% endblock %}